body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
.pagination{
    margin:5px !important;
}
.nscontent{
    padding-top:15px;
}


.cs-loader {
    position: absolute;
    top: 50px;
    left: 0;
    height: 3%;
    width: 100%;
    background-color: #fff;
  
    
  
}
.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #000;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
    /*display:none;
    width:250px;*/
}

.sidnavWrapper {
    /*transition: 0.5s;*/
    position: fixed;
    width: 0%;
    height: 100%;
    background-color: black;
    opacity: .3;
    z-index: 9999;
    top: 0;
    left: 0;
}

.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #4f667d;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #4f667d;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.navbar-inverse {
    background-color: #4f667d;
    border-color: #4f667d;
}

    .navbar-inverse .navbar-toggle {
        border-color: #4f667d;
    }

        .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
            background-color: #4f667d !important;
            border-color: #4f667d;
        }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
       
    }

.navbar-brand {
  float:none;
}

.nbranddiv {
    margin-top: 15px;
    text-align: center;
}

.cartdiv {
    margin-top: 11px;
    text-align: right;
    color: #ffffff;
    /*transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);*/
    font-size: 18px;
}

.searchicon {
    padding-right: 10px;
}

.menu-tab {

}
.account-tab{
    display:none;
}


.sidenav-m-item {
    border-bottom: solid 1px #e0e5e8;
     width: 240px; 
     overflow: hidden; 
}

.side-m-right-arrow {
    float: right;
    padding-right: 15px;
}


.sidenav-m-head {
    font-size: 15px !important;
    padding: 4px 8px 5px 32px !important;
    background-color: #e8ebee;
    color: #64788c !important;
}
.sidenav-m-goback {
    padding: 8px 8px 8px 32px !important;
    font-size: 15px !important;
}

.sidenav-m-profile {
    text-align: center;
    color: #ffffff !important;
    font-size: 15px !important;
    width: 240px;
    overflow: hidden;
}


/* animate ------------------------ */
.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}





/* ANIMATIONS
============================================================================= */

/*.page.ng-leave {
    z-index: 9999;
}

.page.ng-enter {
    z-index: 8888;
}*/

/* page specific animations ------------------------ */

/* home -------------------------- */
/*.page-home.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

.page-home.ng-enter {
    -webkit-animation: scaleUp 0.5s both ease-in;
    -moz-animation: scaleUp 0.5s both ease-in;
    animation: scaleUp 0.5s both ease-in;
}

/* about ------------------------ */

/*.page-about.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.page-about.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}*/

/* contact ---------------------- */
/*.page-contact.ng-leave {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-contact.ng-enter {
    -webkit-animation: slideInUp 0.5s both ease-in;
    -moz-animation: slideInUp 0.5s both ease-in;
    animation: slideInUp 0.5s both ease-in;
}*/





/* scale up */
@keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(0);
    }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -moz-transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }

    to {
        -webkit-transform: translateY(0);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@-moz-keyframes rotateOutNewspaper {
    to {
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}




